*,::after,::before{padding:0;margin:0;box-sizing:border-box;overflow-x: hidden}html{line-height:1.15;-webkit-text-size-adjust:100%;}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible;}pre{font-family:monospace,monospace;font-size:1em;}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em;}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}input,select,button{outline:none}h1,h2,h3,h4,h5,h6{margin:10px 0px}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}input[type=number]{-moz-appearance:textfield}img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{display:none}@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');.error__ie{font-size:1.25rem;color:#000;background:red;padding:10px;width:100%;height:7.5rem;display:flex;align-items:center;justify-content:center;display:block;z-index:99999}

:root{
    --fondo-pagina: #0EA3E3;
    --fuente: 'Open Sans', sans-serif;
    --background-hover: rgba(0, 0, 0, 0.1);
}

/**--------------------------------------------------------------*/
            /*!----------------- Estilos generales -----------------*/
/**--------------------------------------------------------------*/

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
    margin: 0px auto;
    max-width: 1600px;
    font-family: var(--fuente);
}

header{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

header img{
    width: 150px;
    height: auto;
}

header h1{
    margin: 15px 10px 0px;
}

.botones span{
    margin-right: 5px;
}

.contenido,
.contenido-institucion{
    min-height: calc(100vh - 120px - 155px);
}

.subtitulo{text-align: center;}

nav a.activo,
nav a:hover{
    color: white;
    background: var(--background-hover);
}

a{cursor: pointer}

p{line-height: 23px}

footer{
    bottom: 0;
    padding: 32px 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 114px;
    background: var(--fondo-pagina);
}
