:root{
    --white: white;
    --black: black;
    --sidebar: #f7f7f7;
    --color-hover: #0EAAE3;
    --color-fondo: #0EA3E3;
    --shadow: rgba(0, 0, 0, 0.3);
    --background-hover: rgba(0, 0, 0, 0.1);
}

.contenedor-ayuda{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 0.7fr 1fr 1fr;
    grid-template-rows: repeat(4, auto); 
    grid-template-areas:"header     header      header"
                        "nav        nav         nav"
                        "sidebar    contenido   contenido"
                        "footer     footer      footer";
}

.contenedor-ayuda .header{
    grid-area: header;
}

.contenedor-ayuda .nav{
    grid-area: nav;
}

.contenedor-ayuda .sidebar{
    grid-area: sidebar;
    display: flex;
    justify-content: center;
}

.contenedor-ayuda .resultados{
    grid-area: contenido;
    padding: 10px 15px 10px 10px ;
    text-align: justify;
}

.contenedor-ayuda .footer{
    grid-area: footer;
}

h1{
    text-align: center;
    margin-top: 0px;
}

p{
    padding: 7px 0px;
}

.contraseña{
    display: none;
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: var(--color-fondo);
}

#btn-menu{
    display: none;
}

nav label{
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin: 10px 15px;
}

nav ul{
    display: flex;
    list-style: none;
    background: var(--color-fondo);
}

nav a{
    display: block;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
}

nav a:hover{
    color: white;
    background: var(--background-hover);
}

.pregunta{
    font-size: 16px;
    margin-right: 3px;
}

.sidebar{
    width: 92%;
    margin: 0px 4%;
    display: flex;
    flex-direction: column;
}

.sidebar button{
    width: 96%;
    margin: 8px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 3px;
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--color-fondo);
}

.width{
    width: 100%;
}

.boton-activo{
    color: var(--white);
    background: var(--color-fondo);
    border: 1px solid var(--color-hover);
}

.sidebar button:hover{
    color: var(--white);
    transition: .3s all ease;
    background: var(--color-fondo);
    border: 1px solid var(--white);
}

.sidebar span{
    padding-right: 5px;
}

@media (max-width: 768px){
    nav{
        display: flex;
        justify-content: flex-end;
    }
    nav label{
        display: block;
    }
    nav ul{
        display: block;
        background: var(--color-fondo);
        box-shadow: inset 0em 1px var(--shadow);
    }
    .menu{
        left: 0;
        margin-top: 49px;
        width: 100%;
        position: absolute;
        transition: all 0.5s;
        transform: translateX(-100%);
    }

    nav ul{
        display: block;
    }

    #btn-menu:checked ~ .menu{
        transform: translateX(0%);
    }

    .contenedor-ayuda{
        grid-template-areas:"header     header      header"
                            "nav        nav         nav"
                            "sidebar    sidebar     sidebar"
                            "contenido  contenido   contenido"
                            "footer     footer      footer";
    }
}